body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding-top: 140px;
    padding-bottom: 140px;
}

a, 
.description {
    font-size: 18px;
    color: #bfc9d6;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0;
    margin-bottom: 3px;
}

.description p {
    margin-top: 0;
    margin-bottom: 12px;
}

button,
.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border-color: none;
    border-radius: 8px;
}

button {
    padding: 8px 36px;
    font-weight: 600;
}

.description button {
    border: none;
}

.sign-up button {
    border: 2px solid white;
}

.bottom-header img {
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 92px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding-top: 42px;
    padding-bottom: 42px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.card {
    max-width: 150px;
}

.card img {
    display: block;
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.card p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 92px 276px;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.quote h3 {
    margin: 0;
    text-align: right;
}

.sign-up {
    margin: 92px 180px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.sign-up h4,
.sign-up p {
    margin: 0;
    padding: 0
}

.sign-up h4 {
    font-size: 22px;
}

.sign-up p {
    color: #bdcee9;
}

.sign-up button {
    border: 2px solid #E5E7EB;
    white-space: nowrap;
}

.footer {
    height: 72px;
    color: #bfc9d6;
    display: flex;
    justify-content: center;
    align-items: center;
}