body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    background-color: #1F2937;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

a, 
.description {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button,
.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 8px;
}

.description img {
    display: block;
    width: 300px;
    height: 230px;
    object-fit: cover;
    object-position: 50% 50%;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.card img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.footer {
    color: #E5E7EB;
}

.sign-up button {
    border: 1px solid #E5E7EB;
}