body {
    font-family: 'Roboto', sans-serif;
}

.header,
.footer {
    background-color: #1F2937;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

a, 
.description {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button,
.sign-up {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.footer {
    color: #E5E7EB;
}

.sign-up button {
    border: 1px solid #E5E7EB;
}